<head>
	<link rel="stylesheet" href="index.css" type="text/css" media="screen" title="Browser action menu styles" charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="../../config/environment.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../controllers/browser_controller.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../helpers/parcel_helper.js"></script>
	<script type="text/javascript" charset="utf-8" src="partials.js"></script>
	<script type="text/javascript" charset="utf-8">Pactrac.browser.show();</script>
</head>

<body id="pactrac">
</body>
